.btn {
  display: block;
  background: transparent;
  border: 1px solid darkgray;
  padding: 8px;
  margin: 8px;
  line-height: 1;
  outline: none;
  appearance: non;
}

.container {
  padding: 8px;
  margin: 16px;
  line-height: 1;
}

label {
  display: inline-block;
  cursor: pointer;
}

input[type=file] {
  display: none;
}
